<h1>EDIT PROFILE</h1>

<%= form_with model:@user, local:true do |f| %>
  <label for="inputName">ユーザー名</label>
  <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"ユーザー名" %>
  <label for="inputIntroduction">自己紹介</label>
  <%= f.text_field :introduction, autofocus: true, id:"inputIntroduction", placeholder:"自己紹介" %>
  <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %>
  <label for="inputImage">プロフィール写真</label>
  <%= f.attachment_field :profile_image, placeholder:"プロフィール画像" %>

  <%= f.submit "SAVE" %>
<% end %>

<%= link_to "Back", user_path(@user) %>
